root = true

# This is a root-level configuration file for EditorConfig.

# Apply the following settings to all files in the project.
[*]
charset = utf-8                   # Set the character encoding to UTF-8
end_of_line = lf                  # Use LF (linefeed) as the line ending
insert_final_newline = true       # Ensure that a newline is inserted at the end of each file
indent_style = space              # Use spaces for indentation
indent_size = 4                   # Set the indentation size to 4 spaces
trim_trailing_whitespace = true    # Trim trailing whitespace from lines

# Apply the following settings to Markdown (.md) files.
[*.md]
trim_trailing_whitespace = false   # Do not trim trailing whitespace in Markdown files

# Apply the following settings to YAML (.yml, .yaml) files.
[*.{yml,yaml}]
indent_size = 2                   # Set the indentation size to 2 spaces for YAML files
